@model EditViewModel

<div class="container my-5">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb p-3 bg-body-tertiary rounded-3">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="@Url.ActionLink("Index","Member")">Members</a></li>
            <li class="breadcrumb-item active" aria-current="page">Edit Member</li>
        </ol>
    </nav>
</div>

@{
    ViewData["Title"] = "Edit Member";
}
<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">@ViewData["Title"]</h1>
</div>

@if (TempData["Success"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["Success"]
    </div>
}


<div class="card p-4 shadow-lg">
    <form asp-action="Edit" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        @foreach (var role in Model.Roles)
        {
            <span class="badge text-bg-dark mb-3">@role</span>
        }

        <div class="form-floating mb-3">
            <input asp-for="Id" disabled class="form-control" id="floatingInput">
            <label asp-for="Id">Id</label>
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>

        <div class="form-floating mb-3">
            <input asp-for="FirstName" class="form-control" id="floatingInput">
            <label asp-for="FirstName">First Name</label>
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>

        <div class="form-floating mb-3">
            <input asp-for="LastName" class="form-control" id="floatingInput">
            <label asp-for="LastName">Last Name</label>
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>

        <div class="form-floating mb-3">
            <input asp-for="Email" type="email" class="form-control" id="floatingInput">
            <label asp-for="Email">Email Address</label>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="form-floating mb-3">
            <select class="form-select" id="floatingSelect" aria-label="Role Select" asp-for="Role"
                    asp-items="Html.GetEnumSelectList<Role>()">
                <option selected>Select a role</option>
            </select>
            <label for="floatingSelect">Role</label>
        </div>

        <button type="submit" class="btn btn-primary w-100 mb-3">Update Member Details</button>
    </form>

    <form asp-action="Edit" method="post">
        @foreach (var role in Model.Roles)
        {
            <input type="hidden" asp-for="RemoveRole" value="true" />
            <input type="hidden" asp-for="RoleName" value="@role" />
            <div>
                <button type="submit" class="btn btn-outline-secondary w-100 mb-3">Remove @role Role</button>
            </div>
        }
    </form>
</div>