@model IPagedList<Announcement>

@{
    ViewData["Title"] = "Announcements";
}

<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">@ViewData["Title"]</h1>
</div>

@foreach (var m in Model)
{
    <div class="card text-center shadow-sm">
        @*TODO: Image placeholder *@
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">@m.Title</h5>
            <p class="card-text">@m.Description</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
        <div class="card-footer text-body-secondary">
            @Extensions.AsTimeAgo(m.Date) by @m.Member.FirstName @m.Member.LastName
        </div>
    </div>
}