@model IPagedList<Announcement>

@{
    ViewData["Title"] = "Announcements";
}

<div class="my-5">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb p-3 bg-body-tertiary rounded-3">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Announcements</li>
        </ol>
    </nav>
</div>

<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">@ViewData["Title"]</h1>
    <p class="lead mb-4">Keep up to date with news from our community!</p>
</div>

@foreach (var m in Model)
{
    <div class="card text-center shadow-sm mb-5">
        @*TODO: Image placeholder: need to scale image to an ok size *@

        @if (m.ImageUrl == "No image specified.")
        {
            @*TODO: Set an actual placeholder image here*@
            @* <img src="https://via.placeholder.com/150" class="card-img-top" alt="..."> *@
        }
        else
        {
            <img src="@m.ImageUrl" class="card-img-top img-fluid" alt="..." style="object-fit: cover; width: 100%; height: 400px;">
        }
        <div class="card-body">
            <h5 class="card-title">@m.Title</h5>
            <p class="card-text">@m.Description</p>
        </div>
   
        <div>
            <button class="btn btn-link float-end mb-3" type="button" onclick="getAnnouncementComments(@m.Id)" data-bs-toggle="collapse" data-bs-target="#collapseComments">
                Comments
            </button>
        </div>

        <div class="collapse" id="collapseComments">
            <div class="card card-body">
               
            </div>
        </div>
               
        <div class="card-footer text-body-secondary small text-muted"> 
            @Extensions.AsTimeAgo(m.Date) by @m.Member.FirstName @m.Member.LastName
        </div>
    </div>
}

@Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }),
new PagedListRenderOptions
{
    LiElementClasses = new string[] { "page-item" },
    PageClasses = new string[] { "page-link" }
})

<script>
    function getAnnouncementComments(id){
        $.ajax({
            url: 'Announcement/GetAnnouncementComments/' + id,
            type: 'GET',
            success: function(data){
                $('#collapseComments').html(data);
            },
            error: function() {
                alert("There was a problem getting the comment section of this announcement.");
            }
        });
    }
</script>